.bluetooth__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.bluetooth__list--item {
    margin: 5px 0;
}

.bluetooth__button {
    width: 60%;
    max-width: 250px;
}