/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(77, 77, 77);
}

.container {
    max-height: 100vh;
    height: 90%;
    max-width: 500px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__button {
    width: 60%;
    max-width: 250px;
}